* {
    margin: 0;
    padding: 0;
}
.corpo div{
    padding-top: 10px;
    padding-left: 160px;
}
#firstName, #surname, #yearBirth, #buttonResultado{
    border-radius: 10px;
    padding-left: 4px;
}
#firstName{
    width: 180px;
}
#surname{
    width: 205px;
}
#yearBirth{
    width: 175px;
}
.corpo #buttonConcatenar{
    width: 80px;
    height: 20px;
    border-radius: 10px;
}
.corpo #buttonConcatenar:hover{
    background-color: rgb(90, 88, 88);
    color: white;
}
.concatenar{
    margin-left: 100px;
}
.resultado{
    margin-left: -55px;
}
#buttonResultado{
    width: 390px;
    height: 15px;
}
