* {
    margin: 0;
    padding: 0;
}
.menu {
    background-color: rgb(72, 70, 70);
    width: 590px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 300px;
}
.menu li, a{
    color: white;
    text-decoration: none;
    list-style: none;
    padding-left: 5px;
}
.menu li{
    display: inline;
}
.corpo{
    background-color: rgb(157, 158, 160);
    width: 600px;
    height: 200px;
    margin-left: 300px;
}
.corpo #textoApresentacao{
    width: 400px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 60px;
    padding-left: 100px;
}